body {
    background-color: #ddd;
    text-align: center;
}

#image {
    width: 600px;
    height: 400px;
    background-color: #8e68ff;
    background-size: cover;
    color: white;
    line-height: 400px;
    margin: auto;
    margin-bottom: 20px;
    border: 5px solid black;
}

.preview {
    width: 100px;
    border: 2px solid black;
    margin: 5px;
}
